<div class="container">

  <ul class="nav nav-pills p-4">

    <li class="nav-item">
      <a class="nav-link name" href="welcome.html" routerLink="welcome-page" routerLinkActive="active">SLAV SHOP</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="show-products.html" routerLink="products" routerLinkActive="active">All products</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="food-products.html" routerLink="products-food" routerLinkActive="active">Food</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="apparel-products.html" routerLink="products-apparel" routerLinkActive="active">Apparel</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="poster-products.html" routerLink="products-poster" routerLinkActive="active">Posters</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="book-products.html" routerLink="products-book" routerLinkActive="active">Books</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="other-products.html" routerLink="products-other" routerLinkActive="active">Other</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="shared-cart.html" routerLink="shared-cart" routerLinkActive="active">Shared Cart</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="orders.html" routerLink="orders" routerLinkActive="active">Orders</a>
    </li>

  </ul>
  <router-outlet>
  </router-outlet>
</div>
