<div *ngIf="pagedResult">

    <p class="total-price">Total amount to pay: {{ calculateTotalPrice() }} PLN</p>
    <div *ngIf="calculateTotalPrice() > 0">
        <app-place-order-button (placeOrderClicked)="placeOrder()" class="place-order-button"></app-place-order-button>
    </div>
    <table class="table table-hover" *ngIf="calculateTotalPrice() > 0; else emptyCart">
        <thead>
        <tr>
            <th></th>
            <th>Product details</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let product of pagedResult.data">
            <td><img [src]="product.imageLocation" alt="Product Image" class="small-image"></td>
            <td>
                <ul>
                    <li class="name"><strong></strong> {{ product.name }}</li>
                    <li><strong></strong> {{ product.description }}</li>
                    <li><strong></strong> {{ product.type }}</li>
                    <li class="price"><strong></strong> {{ product.price }} PLN</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <ng-template #emptyCart>
        <p class="total-price">Your cart is empty, add some products to place order</p>
    </ng-template>

</div>
