<div class="welcome-page">
    <h3>Welcome to Slav Shop, a one stop online market for all your Slavic needs</h3>
    <h3></h3>
    <h4>Technologies used to build this project:</h4>
    <h4>Backend:</h4>
    <li>Java 17</li>
    <li>Maven</li>
    <li>Spring Boot</li>
    <li>Spring Web/Mvc</li>
    <li>Spring Data (JPA)</li>
    <li>Spring Validation (Hibernate)</li>
    <li>PostgreSQL</li>
    <li>Mapstruct</li>
    <li>AspectJ</li>
    <h4>Frontend:</h4>
    <li>Angular</li>
    <li>Typescript</li>
    <li>Bootstrap</li>
    <li>HTML, CSS</li>
    <h4>Deployment on Virtual Private Server:</h4>
    <li>Linux Debian</li>
    <li>Docker</li>
    <li>NGINX</li>
    <li>Certbot</li>

</div>
